
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<div class="info-box bg-red">
    <span class="info-box-icon"><i class="fa fa-comments-o"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">Toplam Kategori Sayısı</span>
        <span class="info-box-number">@ViewBag.task1</span>
        <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
        </div>
    </div>
</div>

<div class="info-box bg-blue">
    <span class="info-box-icon"><i class="fa fa-comments-o"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">Başlık Tablosunda Yazılım Geçen Alan</span>
        <span class="info-box-number">@ViewBag.task2</span>
        <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
        </div>
    </div>
</div>

<div class="info-box bg-purple">
    <span class="info-box-icon"><i class="fa fa-comments-o"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">A Harfi Geçen Yazar Sayısı</span>
        <span class="info-box-number">@ViewBag.task3</span>
        <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
        </div>
    </div>
</div>
<div class="info-box bg-green">
    <span class="info-box-icon"><i class="fa fa-comments-o"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">En Fazla Başlığa Sahip Kategori</span>
        <span class="info-box-number">@ViewBag.task4</span>
        <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
        </div>
    </div>
</div>
<div class="info-box bg-orange">
    <span class="info-box-icon"><i class="fa fa-comments-o"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">Aktif ve Kapalı Kategori Sayısı Arasındaki Fark</span>
        <span class="info-box-number">@ViewBag.task5</span>
        <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
        </div>
    </div>
</div>








