  
@model EntityLayer.Concrete.Category                          
@{
    Layout = null;
}




@using (Html.BeginForm("AddCategory","Category",FormMethod.Post))
{ 
    <div class="form-group">
        @Html.Label("Kategori Adı")
        @Html.TextBoxFor(p=>p.CategoryName)
        @Html.ValidationMessageFor(p => p.CategoryName)
        <br />
        <br />
        @Html.Label("Kategori Açıklaması")
        @Html.TextBoxFor(p => p.CategoryDescription)
        @Html.ValidationMessageFor(p => p.CategoryDescription)
        <br />
        <br />
        <button class="btn btn-info" >Kaydet</button>
    </div>
}


